{{- $palette := includeTemplate "palette.tmpl" . | fromJson -}}
format = """
$hostname\
$directory\
$git_branch\
$git_status\
$python\
${custom.pixi_project}\
$character"""

add_newline=false

[directory]
style = "{{ $palette.primary }}"

[character]
success_symbol = "[❯]({{ $palette.secondary }})"
error_symbol = "[❯]({{ $palette.secondary }})"

[hostname]
ssh_only = false
detect_env_vars = ['SSH_CONNECTION', 'REMOTEHOST']
format = '[$hostname 🌏 ]($style)'
style = 'bold cyan'

[git_branch]
format = "[$branch]($style)"
style = "bright black"

[git_status]
format = "[(*$conflicted$untracked$modified$staged$renamed$deleted) ($ahead_behind$stashed)]($style)"
conflicted = "​"
untracked = "​"
modified = "​"
staged = "​"
renamed = "​"
deleted = "​"
stashed = "≡"
style = "purple"

[python]
format = '([$symbol\($virtualenv\)]($style) )'
style = "bold green"

[pixi]
disabled = true

[custom.pixi_project]
command = '''
if [ "$PIXI_ENVIRONMENT_NAME" != "default" ]; then
    echo "$PIXI_PROJECT_NAME:$PIXI_ENVIRONMENT_NAME"
else
    echo "$PIXI_PROJECT_NAME"
fi
'''
when = 'test -n "$PIXI_PROJECT_NAME"'
format = '[$symbol (\($output\) )]($style)'
symbol = '🧚'
style = 'bold yellow'